.DS_Store
*.pyc
.gitkeep
index.css
*.swp
app/static/js/vendor/bower/**/*
config.json
.sass-cache/
node_modules/
app/static/fontcustom/*
config.py
!app/config.py
markov.pickle
classifier.pickle
log.log